.keyword-highlight{
    background : #FFF1BB;        
}

.level-0{
    list-style-type : none;
}

.level-0 > a{
    font-weight: bold; 
}

.summary-highlight{
    color : #3297fd;
}

ns-plugin-search-repositories{
    margin-top : 20px;
}

ns-plugin-search-repositories li{
    color : #4e4e4e;
}

.ns-plugin-search-suggestions a{
    color : #4e4e4e;
    text-decoration : none;        
}

.ns-plugin-search-repositories a{
    color : #4e4e4e;
    text-decoration : none;        
}

.ns-plugin-search-repositories a:hover,
.ns-plugin-search-suggestions a:hover{
    text-decoration : underline;
}

.ns-plugin-search-input{
    width : 400px;
    padding : 5px;
    border : solid 1px #C2C2C2;
    outline : none;
}

.ns-plugin-search-suggestions{
    color : #4e4e4e;
    margin-left : 0px;    
    padding : 5px;
    display: none;
}

.ns-plugin-search-suggestions .keyword-highlight{
    background : #DAE7FF;
}

.ns-plugin-search-summary{
    margin-top : 10px; 
    padding : 5px; 
    display: none;
}

.ns-plugin-search-clear-button{
    background : #3297fd;
    padding : 5px 10px;
    border : 1px #3297fd solid;
    color : #fff;
    margin-left : 10px;
}

.ns-plugin-search-clear-button:hover{
    background-color : #E00E0E;
    border-color : #E00E0E;
    cursor : default;
}

.ns-plugin-search-repositories > ul{
    padding-left : 10px;
}

.index-search-new-post{
    color : rgb(231, 41, 41);
    margin-left : 5px;
    font-weight: bold;
    font-style: italic;
}

ol li{
    list-style-type: decimal;
}

.ns-plugin-search-about{
    padding: 20px;
    position: absolute;
    bottom: 0px;
}

.ns-plugin-search-box{
    padding : 10px 10px 70px 10px;
}