body{
    overflow-x: hidden;
}

.ns-plugin-slide-search{
    position : fixed;
    top : 0px;
    left : 0px;
    bottom : 0px;
    width : 600px;
    z-index: 10000; 
    background : #fff;
    border-right: 1px #bbb solid;
    font-size: 10pt;
    margin-left: -601px;
}

.ns-plugin-slide-search .jspVerticalBar{
    width : 10px;
}

.ns-plugin-search-scroll{
    width : 100%;
    height : 100% !important;
    overflow-y: auto;
    outline: none !important;
}
.ns-plugin-search-input{
    width : 450px !important;
}

.ns-plugin-search-repositories{
    margin-top: 10px !important; 
}

.ns-plugin-search-scroll .jspVerticalBar{
    left : 0px;
}

.ns-plugin-search-scroll-content{
   margin-left: 12px;
}

.ns-plugin-search-button{
    width : 40px;
    height : 40px;
    position: absolute;
    right : 0px;
    top : 50%;
    margin-top: -20px;
    background-image: url('https://rawgithub.com/jittagornp/index-search-javascript/master/src/main/webapp/image/blog-search-button.png');
    margin-right: -41px;
}

.ns-plugin-search-button:hover{
    cursor: pointer;
}
 
.ns-plugin-search-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
.ns-plugin-search-scroll::-webkit-scrollbar-track {
    background-color: #ddd;
}
 
.ns-plugin-search-scroll::-webkit-scrollbar-thumb:vertical,
.ns-plugin-search-scroll::-webkit-scrollbar-thumb:horizontal {
    background-color: #999;
}
 
.ns-plugin-search-scroll::-webkit-scrollbar-thumb:vertical:hover,
.ns-plugin-search-scroll::-webkit-scrollbar-thumb:horizontal:hover {
    background: #777;
} 

