.ns-plugin-theme-line{
    background-color : #fff;/*#edeff4;*/
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    outline: none;
    color : #4e4e4e;
	opacity : 0.95;
	filter : Alpha(Opacity=95);
	
	background-image : url('https://rawgithub.com/jittagornp/index-search-javascript/master/blogspot/theme/line/image/sticker.PNG?time=2');
	background-repeat : no-repeat;
	background-position : 95% 95%;
}

.ns-plugin-theme-line .ns-plugin-search-input{
    border-color : #F1F0F0;
	background-color : #FAFAFA;
	border-radius : 3px;	
	-moz-border-radius : 3px;	
	-webkit-border-radius : 3px;	
}

.ns-plugin-theme-line .ns-plugin-search-clear-button,
.ns-plugin-theme-line .ns-plugin-search-clear-button:hover{
border:1px #6CCC2C solid !important; 
font-size:12px;
font-family:arial, helvetica, sans-serif; 
text-decoration:none; 
display:inline-block;
text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
font-weight:bold; color: #FFFFFF;
 background-color: #8AEA2E; background-image: -webkit-gradient(linear, left top, left bottom, from(#8AEA2E), to(#94DC28));
 background-image: -webkit-linear-gradient(top, #8AEA2E, #94DC28);
 background-image: -moz-linear-gradient(top, #8AEA2E, #94DC28);
 background-image: -ms-linear-gradient(top, #8AEA2E, ##94DC28);
 background-image: -o-linear-gradient(top, #8AEA2E, ##94DC28);
 background-image: linear-gradient(to bottom, #8AEA2E, #94DC28);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8AEA2E, endColorstr=#94DC28);
	outline : none;	
	border-radius : 3px;	
	-moz-border-radius : 3px;	
	-webkit-border-radius : 3px;	
}

.ns-plugin-theme-line .jspVerticalBar .jspDrag{
    background-color: #aaa;
}

.ns-plugin-theme-line .keyword-highlight{
    background : #E2FFC3;
}

.ns-plugin-theme-line .level-0 > a{
    color : #56B927 !important;
    display: inline-block;
    padding: 10px;
}

.ns-plugin-theme-line .level-0 > ol{
    /*background: #fdfdfd;*/
    padding: 0px 0px 0px 30px!important;
    /*border : solid 1px #fafafa;*/
    width : 510px;
}

.ns-plugin-theme-line .ns-plugin-search-suggestions .keyword-highlight{
    background : #F0FFCA;
}

.ns-plugin-theme-line .ns-plugin-search-summary,
.ns-plugin-theme-line .ns-plugin-search-suggestions{
    /*font-style: italic;*/
}

.ns-plugin-theme-line .ns-plugin-search-suggestions,
.ns-plugin-theme-line .ns-plugin-search-summary{
    font-weight: bold;
    color : rgb(94, 90, 105);
}

.ns-plugin-theme-line .ns-plugin-search-suggestions a,
.ns-plugin-theme-line .ns-plugin-search-summary .summary-highlight{
    font-weight: normal;
	color : #2DA116;	
}

.ns-plugin-theme-line .ns-plugin-search-button{
    width : 28px;
    height : 63px;
    background-image: url('https://rawgithub.com/jittagornp/index-search-javascript/master/blogspot/theme/line/image/search-button.png');
    margin-right: -31px;
    margin-top: -32px;
	border : solid 1px #D5D5D5;
	border-radius : 3px;
	box-shadow : 0 0 5px rgba(0, 0, 0, 0.07);
	-moz-box-shadow : 0 0 5px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow : 0 0 5px rgba(0, 0, 0, 0.07);
}

.ns-plugin-theme-line .index-search-new-post{
    color : rgb(255, 134, 39);
    font-weight: normal;
}

.ns-plugin-theme-line li{
    border : none !important;
    background: none !important;
    line-height : 1.3em !important;
}

.ns-plugin-theme-line li:hover{
    background: none !important;
}

.ns-plugin-theme-line a{
    color : #4e4e4e
}

.ns-plugin-theme-line a:hover{
    color : rgb(86, 153, 34);
}

.ns-plugin-theme-line a:visited{
    color : rgb(86, 153, 34);
}

.ns-plugin-search-scroll .jspVerticalBar{
    left : 0px;
	background-color : #eee;	
}
