.keyword-highlight{
    background : #FFF1BB;        
}

.level-0{
    list-style-type : none;
}

.level-0 > a{
    font-weight: bold; 
}

.summary-highlight{
    color : #3297fd;
}

#repositories{
    margin-top : 20px;
}

#na5centRepositories li{
    color : #4e4e4e;
}

#na5centSuggestions a{
    color : #4e4e4e;
    text-decoration : none;        
}

#na5centRepositories a{
    color : #4e4e4e;
    text-decoration : none;        
}

#na5centRepositories a:hover,
#na5centSuggestions a:hover{
    text-decoration : underline;
}

#na5centSearchInput{
    width : 400px;
    padding : 5px;
    border : solid 1px #C2C2C2;
    outline : none;
}

#na5centSuggestions{
    color : #4e4e4e;
    margin-left : 0px;    
    padding : 5px;
    display: none;
}

#na5centSuggestions .keyword-highlight{
    background : #DAE7FF;
}

#na5centSummary{
    margin-top : 10px; 
    padding : 5px; 
    display: none;
}

#na5centClearButton{
    background : #3297fd;
    padding : 4px 10px;
    border : 2px #3297fd solid;
    color : #fff;
    margin-left : 10px;
}

#na5centClearButton:hover{
    background-color : #E00E0E;
    border-color : #E00E0E;
    cursor : default;
}

#na5centRepositories > ul{
    padding-left : 10px;
}

.index-search-new-post{
    color : rgb(231, 41, 41);
    margin-left : 5px;
    font-weight: bold;
    font-style: italic;
}

ol li{
    list-style-type: decimal;
}